//====================================================================================================
.goout {
  color: #848484;
  font-style: 18px;
  @media (max-width: $mobile) {
    display: none;
  }
  &.nth {
    @media (max-width: $mobile) {
      display: block;
    }
  }
  svg {
    width: 12px;
    height: 12px;
    fill: #676767;
    vertical-align: middle;
    margin-left: 8px;
    transition: all 0.3s ease;
  }
  &:hover {
    svg {
      width: 18px;
      height: 18px;
      margin-left: 18px;
    }
  }
}
.header-title p{
  color:#949494
}
